/* General style */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0047ab;
    color: #7d7d7d;

    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url('images/blockchain-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contrast-grey-text:hover {
    /*color: var(--bs-gray-500);*/
    background-color:rgba(0, 0, 0, 0.7);
    transform: scale(1.10);
}

.header-buttons {
    position: sticky;
    top: 10px;
    height: fit-content;
    z-index:99;
}

/* Cards */
.card {
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
.card-decreased:hover {
    transform: scale(1.02);
}

.card-img-certifications {
    max-width: 200px;
    margin: 0 auto;
}

.orange-detail {
    color: #DF7925;
}
.white-bg-detail {
    background-color:rgba(238, 236, 236, 0.85);;
}
.grey-bg-detail {
    background-color:rgba(125, 125, 125, 0.5);;
}
.dark-grey-bg-detail {
    background-color:rgba(24, 24, 24, 0.85);;
}
.black-bg-detail {
    background-color:rgba(21, 21, 21, 0.5);;
}

.project-card-colors {
    background-color: #d5a379;
}

.light-orange-detail {
    background-color: #f4eeeb;
}
.medium-orange-detail {
    background-color: #f5ded3;
}

.titles-size {
    font-weight: 900;
    font-size: 5.5rem;
}

/* to fix */
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media (min-width:769px) {
    .blocked-overflow {
        position: sticky;
        top: 20px;
        height: fit-content;
    }
}

.custom-rounded-left {
    border-radius: 15px 0px 0px 15px;
}
.custom-rounded-right {
    border-radius: 0px 15px 15px 0px;
}
.custom-rounded-equal {
    border-radius: 15px;
}


/* Footer */
.footer {
    background: #222222;
    color: white;
}


/* Genral screen responsivness */
@media (max-width: 991px) { /* Tablet */

    .custom-rounded {
        border-radius: 15px;
    }

    .display-3 {
        font-size: 3.5rem;
    }

    .display-4 {
        font-size: 3rem;
    }

    .btn-group {
        display: flex;
        justify-content: center;
    }

    .row.text-white {
        flex-direction: column;
        gap: 15px;
    }

    .col-md-9, .col-md-3 {
        width: 80%;
        margin: 0 auto;
    }

    .card-img-top {
        max-width: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .display-3 {
        font-size: 2.5rem;
    }

    .display-4 {
        font-size: 2.2rem;
    }

    .btn-group {
        display: flex;
        justify-content: center;
    }

    .row.text-white {
        flex-direction: column;
        gap: 10px;
    }

    .col-md-9, .col-md-3  {
        width: 90%;
        margin: 0 auto;
    }
}
